nav {
    display: flex;
    align-items: center;
    background: $color-secondary-Vdark;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    flex-grow: 1;
}

.traffic-nav-item {
    
    padding: 5px 15px;
    border-radius: 20px;

}

.traffic-nav-item.selected{
    color: white;
    font-weight: 600;
    background: $color-signal-darker;
}