nav {
    display: flex;
    align-items: center;
    background: $color-secondary-Vdark;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    flex-grow: 1;
}