*{
    box-sizing: border-box;
}

body{
    //background: yellow;
    margin: 0;   
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 70px 1fr;
    grid-template-areas: "header"
                         "nav"
                         "main";

}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
    
}

main {
    grid-area: main;
}



