
header {
    background: $color-secondary-lighter;
    flex-grow: 1fr;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px 10px;
    align-items: center;
   
}

.header-container {
    display: flex;
    align-items: center;
    padding: 5px;
    
    
    :first-child{
        margin-right: 5px;
    }
    :last-child{
        margin-left: 15px;
    }

}

.notification {
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    transition: scale 2.5s linear .8s;
}

.notification:hover {
        transform: scale(1.3);
    }


.notification-icon {
    width: 7px;
    background: $color-signal;
    height: 7px;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    

}
    