
header {
    background: $color-secondary-lighter;
    flex-grow: 1fr;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px 10px;
    align-items: center;
   
}

.header-container {
    display: flex;
    align-items: center;
    padding: 5px;
    
    
    :first-child{
        margin-right: 5px;
    }
    :last-child{
        margin-left: 15px;
    }

}